<div class="dashboard">
  <div class="dashboard__form">
    <app-form
      [searching]="searchingMovie"
      (searchMovieEmitter)="searchMovie($event)"
    ></app-form>
  </div>
  <hr>
  <div class="dashboard__table" *ngIf="hasResults()">
    <app-table-movies
      [movieList]="movieList"
      (addFavoriteMovieEmitter)="addFavoriteMovie($event)"
    ></app-table-movies>
  </div>
  <div class="dashboard__favorites" *ngIf="hasFavoriteShow()">
    <app-favorites
      [favorites]="favoriteShows"
      (removeFavoriteEmitter)="removeFavorite($event)"
    ></app-favorites>
  </div>
</div>
