.toolbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(79, 98, 125);
  font-family: 'Macondo', cursive;
  font-weight: bold;
  font-size: 2rem;

  .lean{
    color: rgb(237, 237, 38);
    font-weight: bolder;
  }
  .tech{
    color: rgb(236, 162, 26);
    font-weight: bolder;

  }

}

.menu{
  cursor: pointer;
}

.options {
  display: flex;
  cursor: pointer;
  gap: 1rem;
}
